<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ananasit.arzymo" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name=".MySuggestionProvider"
            android:authorities="org.ananasit.arzymo.MySuggestionProvider" />

        <activity
            android:name=".StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity
            android:name=".SubcatsActivity"
            android:label="@string/title_activity_subcats" >
        </activity>
        <activity
            android:name=".PostsActivity"
            android:label="@string/title_activity_posts" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity
            android:name=".AddPostActivity"
            android:label="@string/add"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name=".CategoriesActivity"
            android:label="@string/title_activity_categories"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name=".MultiPhotoSelectActivity"
            android:label="@string/title_activity_multi_photo_select" >
        </activity>
        <activity
            android:name=".FullScreenViewActivity"
            android:label="@string/title_activity_full_screen_view" >
        </activity>
        <activity
            android:name=".DeleteImageActivity"
            android:label="@string/title_activity_delete_image" >
        </activity>
        <activity
            android:name=".DeletePostActivity"
            android:label="@string/title_activity_delete_post" >
        </activity>
        <activity
            android:name=".MyPostsActivity"
            android:label="@string/title_activity_my_posts" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".EditPostActivity"
            android:label="@string/title_activity_edit_post" >
        </activity>
        <activity
            android:name=".PostDetailActivity"
            android:label="@string/title_activity_post_detail" >
        </activity>
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup" >
        </activity>
    </application>

</manifest>
