<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ananasit.rekordo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <provider
            android:name=".MySuggestionProvider"
            android:authorities="org.ananasit.rekordo.MySuggestionProvider" />

        <activity
            android:name=".StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity
            android:name=".SubcatsActivity"
            android:label="@string/title_activity_subcats" />
        <activity
            android:name=".PostsActivity"
            android:label="@string/title_activity_posts">
        </activity>
        <activity
            android:name=".CategoriesActivity"
            android:label="@string/title_activity_categories"
            android:launchMode="singleInstance" />
        <activity
            android:name=".MultiPhotoSelectActivity"
            android:label="@string/title_activity_multi_photo_select" />
        <activity
            android:name=".FullScreenViewActivity"
            android:label="@string/title_activity_full_screen_view" />
        <activity
            android:name=".DeleteImageActivity"
            android:label="@string/title_activity_delete_image" />
        <activity
            android:name=".DeletePostActivity"
            android:label="@string/title_activity_delete_post" />
        <activity
            android:name=".MyPostsActivity"
            android:label="@string/title_activity_my_posts">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".EditPostActivity"
            android:label="@string/title_activity_edit_post" />
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup" />
        <activity
            android:name=".PostDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MyLikesActivity"
            android:label="@string/title_activity_my_likes" />
        <activity android:name=".ChatRoomsActivity" />
        <activity android:name=".ChatRoomMessagesActivity" />
        <activity android:name=".ChatsActivity" />
        <activity android:name=".MessagesActivity" />
        <activity android:name=".MyProfileActivity"/>

        <!-- START Added for GCM -->
        <service android:name=".gcm.MyInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".gcm.MyFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.GcmIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- END Added for GCM -->
        <activity
            android:name=".AddPostActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SettingsActivityPref"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>